<div class="row pb-4">
  <div class="col d-flex">
    <h1 class="page-title my-auto">
      Cotações
    </h1>
  </div>
  <div class="col d-flex flex-row-reverse">
    <button mat-raised-button class="blue-button" (click)="novaCotacao()">
      Nova Cotação
    </button>
  </div>
</div>

<div class="scroll-table">
  <table mat-table [dataSource]="cotacoesDataSrc" matSort class="w-100">
    <ng-container matColumnDef="nomeItem">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        Nome do Item
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element.nomeItem }}
      </td>
    </ng-container>

    <ng-container matColumnDef="valorTotal">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        Valor Total
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element.valorTotal  }}
      </td>
    </ng-container>

    <ng-container matColumnDef="valorParcela">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        Valor da Parcela
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element.valorParcela }}
      </td>
    </ng-container>

    <ng-container matColumnDef="quantidadeParcelas">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        Número de Parcelas
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element.quantidadeParcelas }}
      </td>
    </ng-container>

    <ng-container matColumnDef="criadoEm">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        Data de Crição
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element.criadoEm | date: "dd/MM/yyyy HH:mm" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="acao">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>

      </th>
      <td mat-cell *matCellDef="let element">
        <div class="d-flex flex-row-reverse">

        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
