$color-dark-blue: #102434;
$color-light-blue: #96DCFB;
$color-red: #eb4e1f;
$color-dark: #050C11;
$color-dark-card-border: #192A38;
$color-light: #F5F5F5;
$color-charcoal: #37474F;
$color-silver: #CFD8DC;
$color-gray-web: #7B7B7B;
